body {

	background-color: #2f4050;
}
.col-sm-10{

	background-color: white;
}


/*--------------------------------------------------------------------------
  Side Menu Style
--------------------------------------------------------------------------*/

#side_menu a{

	color: #9fb1c2;

}

#side_menu .active a{

	color: white;
	background-color: red;
	font-weight: bold;

}
#side_menu a:hover{

	color: white;
	background-color: #27aae1;
	font-weight: bold;
	display: block;

}

/*--------------------------------------------------------------------------
  Table Style
--------------------------------------------------------------------------*/
.form-control:hover{
  cursor: pointer;
}

/*--------------------------------------------------------------------------
  Table Style
--------------------------------------------------------------------------*/
.FieldInfo{

 /* color:;*/
 font-family: Bitter,Georgie,"Times New Roman",Times,serif;
 font-size: 1.2em;
}

/*--------------------------------------------------------------------------
  Navbar Style
--------------------------------------------------------------------------*/
.navbar-nav li{
  font-weight: bold;
  font-family: Bitter,Georgie,"Times New Roman",Times,serif;
 font-size: 1.2em;
}
.line{
  margin-top:-25px;
}

/*--------------------------------------------------------------------------
  Form Validation Style
--------------------------------------------------------------------------*/
.error{
          color: red;
        }
        .border-red{
          border-color: red;
        }
        .border-green{
          border-color: green;
        }
        body{
          overflow-y: hidden;
        }
        .fa-spinner{
          font-size: 14px;
          color: black;
        }
        .progress{
          width: 66%;
          height: 4px;
          position:relative;
          background: #7047d7;
        }
        .progress::before{
          position: absolute;
          content: "";
          width: 0%;
          height: 4px;
          top: 0;
          left:0;
          background: orange;
          animation: wait 1s infinite;
          -webkit-animation: wait 1s infinite;
          -moz-animation: wait 1s infinite;
        }
        @keyframes wait{
          10%{width:10%}
          20%{width:20%}
          50%{width:50%}
          70%{width:70%}
          100%{width:100%}
        }
.login-error{
  color: red;
display: none; 
width: 66%; 
font-size: 1.5em;
}

/*--------------------------------------------------------------------------
  Footer Style
--------------------------------------------------------------------------*/
.footer {
  background: #2f4050;
  color: #dddddd;
  padding: 0 20px 10px 20px;
  border-top: 4px solid black;
/*  margin-top: 20px;*/
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  color: 0 -1px 12px rgba(0,0,0,0.4);
  /*position:fixed;
  margin-top:50px;*/
  bottom:0;
  width:100%;

}
.footer h3 {
  color: #fefefe;
  font-size: 1.3em;
  border-bottom: 1px dotted #002200;
}
.footer ul {
  padding: 0;
}
.footer-navigate-section li {
  line-height: 20px !important;
}
.footer-copyright {
  text-align: center;
  color: #dddddd;
  padding-top: 10px;
  font-size: 0.9em;
}



